@charset "UTF-8";

/* Business */
.header {
    background-color: rgba(91, 109, 69, 0.4);
}

.main {
    background-color: #EAEAE7;
    padding-block: calc(300*(100vw/750)) 0;
}

.main__image {
    width: calc(675*(100vw/750));
    margin-inline: auto;
    margin-bottom: calc(55*(100vw/750));
}

.main__title {
    width: calc(675*(100vw/750));
    margin-inline: auto;
    margin-bottom: calc(150*(100vw/750));
}

.main__title .title {
    font-size: calc(100*(100vw/750));
    margin-bottom: calc(20*(100vw/750));
    line-height: 1;
}

.main__title .text {
    font-size: calc(24*(100vw/750));
    line-height: 1.75;
    letter-spacing: 0.1em;
}

.business__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(160*(100vw/750));
    margin-bottom: calc(200*(100vw/750));
}

.business__list--contents {
    width: calc(600*(100vw/750));
}

.business__list--contents .en__title,
.business__list--contents .jp__title {
    line-height: 1;
    margin-bottom: calc(25*(100vw/750));
}

.business__list--contents .en__title {
    font-size: calc(32*(100vw/750));
}


.business__list--contents .jp__title {
    font-size: calc(42*(100vw/750));

}

.business__list--contents .text {
    font-size: calc(24*(100vw/750));
    line-height: 1.75;
    letter-spacing: 0.085em;
}

.business__list--contents .achievements__title {
    font-size: calc(24*(100vw/750));
    margin-block: calc(50*(100vw/750)) calc(10*(100vw/750));
    font-weight: 600;
    letter-spacing: 0.06em;
}

.business__list--contents .achievements__list {
    margin-bottom: calc(15*(100vw/750));
}

.business__list--contents .achievements__list--contents {
    font-size: calc(24*(100vw/750));
    line-height: 2;
    letter-spacing: 0.06em;
}

.business__list--contents .achievements__list--contents::before {
    content: "・";
}

.business__list--contents .book__list {
    display: grid;
    margin-top: calc(80*(100vw/750));
    grid-template-columns: repeat(2, calc(280*(100vw/750)));
    justify-content: space-between;
    gap: calc(60*(100vw/750)) 0;
}

.business__list--contents .book__list--contents .name {
    margin-top: calc(20*(100vw/750));
    font-size: calc(20*(100vw/750));
    letter-spacing: 0.02em;
    line-height: 1.75;
}

/* Business */


/* PCサイズ */
@media screen and (min-width: 750px) {

    /* Business */
    .main {
        padding-block: 250px 0;
    }

    .main__image {
        width: calc(1728*(100vw/1920));
        margin-bottom: calc(60*(100vw/1920));
    }

    .main__title {
        display: flex;
        width: calc(1728*(100vw/1920));
        margin-inline: auto;
        justify-content: space-between;
        align-items: center;
        margin-bottom: calc(220*(100vw/1920));
    }

    .main__title .title {
        font-size: calc(80*(100vw/1920));
        margin-bottom: 0;
    }

    .main__title .text {
        width: calc(775*(100vw/1920));
        font-size: calc(16*(100vw/1920));
        line-height: 2;
    }

    .business__list {
        width: calc(1564*(100vw/1920));
        margin-inline: auto;
        justify-content: space-between;
        gap: calc(120*(100vw/1920)) 0;
        margin-bottom: 0;
    }

    .business__list--contents {
        width: calc(730*(100vw/1920));
    }

    .business__list--contents:nth-last-child(1) {
        width: 100%;
    }

    .business__list--contents .en__title,
    .business__list--contents .jp__title {
        line-height: 1;
        margin-bottom: calc(20*(100vw/1920));
    }

    .business__list--contents .en__title {
        font-size: calc(16*(100vw/1920));
    }


    .business__list--contents .jp__title {
        font-size: calc(32*(100vw/1920));

    }

    .business__list--contents .text {
        font-size: calc(16*(100vw/1920));
    }

    .business__list--contents .achievements__title {
        font-size: calc(16*(100vw/1920));
        margin-block: calc(45*(100vw/1920)) calc(10*(100vw/1920));
    }

    .business__list--contents .achievements__list {
        margin-bottom: calc(15*(100vw/1920));
    }

    .business__list--contents .achievements__list--contents {
        font-size: calc(16*(100vw/1920));
    }

    .business__list--contents .book__list {
        margin-top: calc(90*(100vw/1920));
        grid-template-columns: repeat(6, calc(222*(100vw/1920)));
        justify-content: space-between;
        gap: calc(60*(100vw/1920)) 0;
    }

    .business__list--contents .book__list--contents .name {
        margin-top: calc(20*(100vw/1920));
        font-size: calc(16*(100vw/1920));
    }

    /* Business */
}
