@charset "UTF-8";

.pc_only {
    display: none;
}

.sp_only {
    display: block;
}

.cormorant {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.garamond {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.serif {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

.fade,
.fade__bg {
    opacity: 0;
    transition-duration: 1250ms;
}

.fade.is-active,
.fade__bg.is-active {
    opacity: 1;
}


/* ヘッダー */
.header {
    position: fixed;
    width: 100%;
    height: calc(120*(100vw/750));
    max-height: 120px;
    display: flex;
    align-items: center;
    top: 0;
    backdrop-filter: blur(10px);
    padding-inline: calc(30*(100vw/750));
    z-index: 100;
}

.header__logo {
    width: calc(200*(100vw/750));
    max-width: 306px;
}

.header__logo .open {
    width: calc(200*(100vw/750));
    max-width: 306px;
    position: absolute;
    left: calc(30*(100vw / 750));
    z-index: 100;
    opacity: 0;
    transition-duration: 1000ms;
}

.header__logo .open.is-active {
    opacity: 1;
}

.header__button {
    width: calc(140*(100vw/750));
    max-width: 120px;
    height: 100%;
    position: absolute;
    z-index: 999;
    right: calc(30*(100vw/750));
}

.header__button::after,
.header__button::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transition-duration: 0.3s;
}

.header__button::before {
    translate: -50% calc(10*(100vw/750));
}

.header__button::after {
    translate: -50% calc(-10*(100vw/750));
}

.header__button.is-active::before,
.header__button.is-active::after {
    background-color: #333333;
}

.header__button.is-active::before,
.header__button.is-active::after {
    translate: -50% 0;
}

.header__button.is-active::before {
    rotate: 10deg;
}

.header__button.is-active::after {
    rotate: -10deg;
}

.header__button.is-active~.header__nav {
    transform: translateX(0);
}

.header__nav {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    transform: translateX(150%);
    transition: transform 0.5s ease-in-out;
    background-color: #E9E9E6;
    position: fixed;
    left: 0;
    top: 0;
    padding-block: calc(240*(100vw/750)) calc(340*(100vw/750));
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    overflow-y: scroll;
}

.header .nav__list {
    width: calc(600*(100vw/750));
    max-width: 630px;
    margin-inline: auto;
    border-block: solid 1px #333333;
    margin-bottom: calc(75*(100vw/750));
}

.header .nav__contents {
    display: grid;
    align-items: center;
    min-height: calc(100*(100vw/750));
    padding-block: calc(25*(100vw/750));
    padding-left: calc(35*(100vw/750));
    font-size: calc(40*(100vw/750));
    border-bottom: solid 1px #333333;
}

.header .nav__contents:nth-last-child(1) {
    border-bottom: none;
}

.header .accordion {
    max-height: calc(100*(100vw / 750));
    position: relative;
    transition-duration: 500ms;
    overflow: hidden;
}

.header .accordion.is-active {
    max-height: calc(350*(100vw/750));
}

.header .accordion__title {
    position: relative;
}

.header .accordion__title::before,
.header .accordion__title::after {
    content: "";
    position: absolute;
    width: calc(48*(100vw/750));
    height: 1px;
    background-color: #333;
    right: 0;
    top: 50%;
}

.header .accordion__title::before {
    rotate: 90deg;
    transition-duration: 500ms;
}

.header .accordion.is-active .accordion__title::before {
    rotate: 0deg;
}

.header .accordion__list {
    display: grid;
    grid-template-rows: repeat(3, calc(70*(100vw/750)));
    max-height: 0;
    overflow: hidden;
    transition-timing-function: linear;
    transition-duration: 1000ms;
    align-items: center;
    padding-top: calc(30*(100vw/750));
}

.header .accordion.is-active .accordion__list {
    max-height: calc(400*(100vw/750));
}

.header__nav--text {
    font-size: calc(40*(100vw/750));
    text-align: center;
    margin-bottom: calc(80*(100vw/750));
}

.nav__image {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* ヘッダー */

/* NEWS */
.header {
    background-color: rgba(91, 109, 69, 0.4);
}

.main {
    background-color: #EAEAE7;
    padding-block: calc(300*(100vw/750)) calc(250*(100vw/750));
}

.breadcrumbs{
    width: calc(674*(100vw/750));
    font-size: calc(24*(100vw/750));
    margin-inline: auto;
}

.main__title {
    width: calc(700*(100vw/750));
    margin-inline: auto;
    color: #2E2E2E;
    font-size: calc(100*(100vw/750));
    margin-bottom: calc(50*(100vw/750));
    position: relative;
}

.main__title::after {
    content: "";
    width: calc(427*(100vw/750));
    height: 1px;
    background-color: #2E2E2E;
    position: absolute;
    top: calc(65*(100vw/750));
    right: 0;
}

.news {
    width: 100%;
    position: relative;
    z-index: 0;
}

.news .sub__title {
    width: calc(600*(100vw/750));
    margin-inline: auto;
    color: #2E2E2E;
    font-size: calc(60*(100vw/750));
    margin-bottom: calc(20*(100vw/750));
}

.news .business {
    margin-bottom: calc(200*(100vw/750));
}

.news .artist {
    margin-bottom: calc(55*(100vw/750));
}

.news__img {
    width: 100%;
    aspect-ratio: 1 / 0.704;
    margin-bottom: calc(30*(100vw/750));
}

.news__text {
    color: #2E2E2E;
    font-size: calc(24*(100vw/750));
    letter-spacing: 0.1em;
    line-height: 1.75;
}

.news__text .news__date {
    padding-right: calc(10*(100vw/750));
    letter-spacing: 0.12em;
}

.news__text .news__category {
    padding-left: calc(10*(100vw/750));
    letter-spacing: 0.12em;
}

.swiper-wrapper {
    width: calc(600*(100vw / 750));
    margin-inline: auto;
    display: grid;
    gap: calc(100*(100vw / 750));
}

/* NEWS */


/* footer */
.footer {
    width: 100%;
    background-color: #2E2E2E;
    color: #fff;
    letter-spacing: 0.1em;
    position: relative;
}

.footer__container {
    padding-block: calc(125*(100vw/750));
    padding-inline: calc(75*(100vw / 750));
}

.footer .nav__list {
    border-block: solid 1px #fff;
    margin-bottom: calc(75*(100vw/750));
}

.footer .nav__contents {
    display: grid;
    align-items: center;
    min-height: calc(100*(100vw/750));
    padding-block: calc(25*(100vw/750));
    padding-left: calc(35*(100vw/750));
    font-size: calc(40*(100vw/750));
    border-bottom: solid 1px #fff;
}

.footer .nav__contents:nth-last-child(1) {
    border-bottom: none;
}

.footer .accordion {
    max-height: calc(100*(100vw / 750));
    position: relative;
    transition-duration: 500ms;
    overflow: hidden;
}

.footer .accordion.is-active {
    max-height: calc(350*(100vw/750));
}

.footer .accordion__title {
    position: relative;
}

.footer .accordion__title::before,
.footer .accordion__title::after {
    content: "";
    position: absolute;
    width: calc(48*(100vw/750));
    height: 1px;
    background-color: #fff;
    right: 0;
    top: 50%;
}

.footer .accordion__title::before {
    rotate: 90deg;
    transition-duration: 500ms;
}

.footer .accordion.is-active .accordion__title::before {
    rotate: 0deg;
}

.footer .accordion__list {
    display: grid;
    grid-template-rows: repeat(3, calc(70*(100vw/750)));
    max-height: 0;
    overflow: hidden;
    transition-timing-function: linear;
    transition-duration: 1000ms;
    align-items: center;
    padding-top: calc(30*(100vw/750));
}

.footer .accordion.is-active .accordion__list {
    max-height: calc(400*(100vw/750));
}

.footer .logo {
    width: calc(415*(100vw/750));
    margin-bottom: calc(35*(100vw/750));
}

.footer .address,
.footer .name,
.footer .telephone {
    font-size: calc(24*(100vw/750));
    line-height: 1.75;
}

.footer .address {
    margin-bottom: calc(35*(100vw/750));
}

.footer .copy__container {
    width: 100%;
    height: calc(66*(100vw/750));
    display: grid;
    place-content: center;
    color: #fff;
    font-size: calc(20*(100vw/750));
    border-top: solid 1px #fff;
}

/* footer */


/* PCサイズ */
@media screen and (min-width: 750px) {
    .pc_only {
        display: block;
    }

    .sp_only {
        display: none;
    }

    /* ヘッダー */
    .header {
        padding-inline: 26px 57px;
        justify-content: space-between;
    }

    .header__logo {
        width: calc(306*(100vw/1920));
    }

    .header__logo .open {
        width: calc(306*(100vw/1920));
        left: 26px;
    }

    .header__link {
        display: flex;
        margin-right: calc(235*(100vw/1920));
        gap: 20px;
        font-size: 20px;
        color: #fff;
        letter-spacing: 0.06em;
    }

    .header__button {
        width: calc(120*(100vw/1920));
        right: 57px;
    }

    .header__button::before {
        translate: -50% 10px;
    }

    .header__button::after {
        translate: -50% -10px;
    }

    .header__nav {
        padding-block: 150px calc(340*(100vw/1920));
    }

    .header .nav__list {
        margin-bottom: 120px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-block: none;
    }

    .header .nav__contents {
        display: grid;
        align-items: center;
        min-height: auto;
        padding-block: 0;
        padding-left: 0;
        font-size: 40px;
        border-bottom: none;
    }

    .header .nav__contents:nth-last-child(1) {
        border-bottom: none;
    }

    .header .accordion {
        max-height: unset;
        overflow: unset;
    }

    .header .accordion__title::before,
    .header .accordion__title::after {
        display: none;
    }

    .header .accordion__list {
        grid-template-rows: repeat(3, 20px);
        max-height: unset;
        overflow: unset;
        align-items: unset;
        padding-top: 30px;
        gap: 20px;
    }

    .accordion__list--contents {
        font-size: 20px;
    }

    .header__nav--text {
        font-size: calc(64*(100vw/1920));
        margin-bottom: 0;
    }

    .nav__image {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    /* ヘッダー */



    /* NEWS */
    .main {
        padding-block: 250px 110px;
    }

    .breadcrumbs{
        width: calc(1700*(100vw/1920));
        font-size: calc(16*(100vw/1920));
    }

    .main__title {
        width: calc(1700*(100vw/1920));
        font-size: calc(80*(100vw/1920));
        margin-bottom: calc(95*(100vw/1920));
    }

    .main__title::after {
        content: "";
        width: calc(1440*(100vw/1920));
        height: 1px;
        background-color: #2E2E2E;
        position: absolute;
        top: calc(50*(100vw/1920));
        right: 0;
    }

    .news {
        width: calc(1700*(100vw/1920));
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
    }

    .news .sub__title {
        width: calc(750*(100vw/1920));
        font-size: calc(70*(100vw/1920));
        margin-bottom: calc(20*(100vw/1920));
    }

    .news .business,
    .news .artist {
        width: fit-content;
        margin-bottom: 0;
    }

    .news__img {
        margin-bottom: calc(30*(100vw/1920));
    }

    .news__text {
        font-size: calc(16*(100vw/1920));
    }

    .news__text .news__date {
        padding-right: 10px;
    }

    .news__text .news__category {
        padding-left: 10px;
    }

    .swiper-wrapper {
        width: calc(750*(100vw / 1920));
        margin-inline: auto;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(2, calc(350*(100vw/1920)));
        gap: calc(40*(100vw / 1920));
    }

    .business__swiper,
    .artist__swiper{
        width: fit-content;
    }

    /* NEWS */


    /* footer */
    .footer__container {
        display: flex;
        padding-block: calc(80*(100vw/1920)) calc(65*(100vw/1920));
        padding-inline: calc(100*(100vw / 1920));
        justify-content: space-between;
    }

    .footer .nav__list {
        border-block: none;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: calc(40*(100vw/1920));
        order: 2;
    }

    .footer .nav__contents {
        display: grid;
        align-items: center;
        min-height: unset;
        padding-block: unset;
        padding-left: unset;
        font-size: calc(24*(100vw/1920));
        border-bottom: none;
    }

    .footer .accordion {
        max-height: unset;
    }

    .footer .accordion__title::before,
    .footer .accordion__title::after {
        display: none;
    }

    .footer .accordion__list {
        display: none;
    }

    .footer__text {
        order: 1;
    }

    .footer .logo {
        width: calc(275*(100vw/1920));
        margin-bottom: calc(35*(100vw/1920));
    }

    .footer .address,
    .footer .name,
    .footer .telephone {
        font-size: calc(16*(100vw/1920));
    }

    .footer .address {
        margin-bottom: calc(15*(100vw/1920));
    }

    .footer .copy__container {
        width: calc(1728*(100vw/1920));
        height: calc(50*(100vw/1920));
        margin-inline: auto;
        font-size: calc(12*(100vw/1920));
        border-top: solid 1px #fff;
    }

    /* footer */
}
