@charset "UTF-8";

/* NEWS */
.header {
    background-color: rgba(91, 109, 69, 0.4);
}

.main {
    background-color: #EAEAE7;
    padding-block: calc(300*(100vw/750)) 0;
}

.breadcrumbs {
    width: calc(674*(100vw/750));
    font-size: calc(24*(100vw/750));
    margin-inline: auto;
    margin-top: calc(180*(100vw/750));
    padding-bottom: calc(20 * (100vw / 750));
}

.main__title {
    width: calc(700*(100vw/750));
    margin-inline: auto;
    color: #2E2E2E;
    font-size: calc(100*(100vw/750));
    margin-bottom: calc(100*(100vw/750));
    position: relative;
}

.main__title::after {
    content: "";
    width: calc(427*(100vw/750));
    height: 1px;
    background-color: #2E2E2E;
    position: absolute;
    top: calc(65*(100vw/750));
    right: 0;
}

.news .business {
    margin-bottom: calc(200*(100vw/750));
}

.news .artist {
    margin-bottom: calc(55*(100vw/750));
}

.news .sub__title {
    width: calc(600*(100vw/750));
    margin-inline: auto;
    color: #2E2E2E;
    font-size: calc(60*(100vw/750));
    margin-bottom: calc(20*(100vw/750));
}

.news .news__buttons {
    display: grid;
    width: calc(675*(100vw/750));
    margin-inline: auto;
    color: #2E2E2E;
    font-size: calc(48*(100vw/750));
    margin-bottom: calc(80*(100vw/750));
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, calc(212*(100vw/750)));
    text-align: center;
}

.news .news__buttons .button {
    height: calc(90*(100vw/750));
    border: 1px solid #2E2E2E;
}

.news .news__buttons .button.is-active {
    background-color: #E0E0D0;
    color: #2E2E2E;
    border: none;
}

.news {
    width: 100%;
    position: relative;
    z-index: 0;
}

.news__img {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-bottom: calc(30*(100vw/750));
}

.news__text {
    color: #2E2E2E;
    font-size: calc(24*(100vw/750));
    letter-spacing: 0.1em;
    line-height: 1.75;
}

.news__text .news__date {
    padding-right: calc(10*(100vw/750));
    letter-spacing: 0.12em;
}

.news__text .news__category {
    padding-left: calc(10*(100vw/750));
    letter-spacing: 0.12em;
}

.swiper-wrapper {
    width: calc(600*(100vw / 750));
    margin-inline: auto;
    margin-bottom: calc(170*(100vw / 750));
    display: grid;
    gap: calc(100*(100vw / 750));
}

/* NEWS */


/* PCサイズ */
@media screen and (min-width: 750px) {

    /* NEWS */
    .main {
        padding-block: 250px 0;
    }

    .breadcrumbs {
        width: calc(1700*(100vw/1920));
        font-size: calc(16*(100vw/1920));
        margin-top: calc(150*(100vw/1920));
        padding-bottom: calc(20 * (100vw / 1920));
    }

    .main__title {
        width: calc(1700*(100vw/1920));
        font-size: calc(80*(100vw/1920));
        margin-bottom: calc(95*(100vw/1920));
    }

    .main__title::after {
        content: "";
        width: calc(1440*(100vw/1920));
        height: 1px;
        background-color: #2E2E2E;
        position: absolute;
        top: calc(50*(100vw/1920));
        right: 0;
    }

    .news .sub__title {
        width: calc(750*(100vw/1920));
        font-size: calc(70*(100vw/1920));
        margin-bottom: calc(20*(100vw/1920));
    }

    .news .news__buttons {
        width: calc(1536*(100vw/1920));
        font-size: calc(40*(100vw/1920));
        margin-bottom: calc(40*(100vw/1920));
        grid-template-columns: repeat(3, calc(500*(100vw/1920)));
    }

    .news .news__buttons .button {
        height: calc(58*(100vw/1920));
    }

    .news .business,
    .news .artist {
        width: fit-content;
        margin-bottom: 0;
    }

    .news {
        width: calc(1550*(100vw/1920));
        margin-inline: auto;
        display: grid;
        justify-content: space-between;
    }

    .news__img {
        margin-bottom: calc(30*(100vw/1920));
    }

    .news__text {
        font-size: calc(16*(100vw/1920));
    }

    .news__text .news__date {
        padding-right: 10px;
    }

    .news__text .news__category {
        padding-left: 10px;
    }

    .swiper-wrapper {
        width: calc(1550*(100vw / 1920));
        margin-inline: auto;
        margin-bottom: calc(170*(100vw / 1920));
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(4, calc(350*(100vw/1920)));
        gap: calc(40*(100vw / 1920));
    }

    .business__swiper,
    .artist__swiper {
        width: fit-content;
    }

    /* NEWS */
}
